# TODO: replace localhost to your_url
localhost {
	handle /backend/* {
		uri strip_prefix /backend
		reverse_proxy backend:8000
	}

	# Default handler: If no other handlers match, return a "Not Found" error.
	handle {
		respond "Not Found" 404
	}
}
